{% extends "account/base.html" %}

{% block inner_content %}
<h2>Create Account</h2>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}

    <button type="submit" style="
            background:#007bff;
            color:white;
            padding:10px 20px;
            border:none;
            border-radius:6px;
            cursor:pointer;">
        Sign up
    </button>
</form>

<p style="margin-top:12px;">
    Already have an account? 
    <a href="{% url 'account_login' %}">Login</a>
</p>
{% endblock %}