{% extends 'base.html' %}

{% block content %}
    <h3>title</h3>
    <div>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input value="Submit" type="submit">
             <a href="{% url 'index' %}" 
             role="button"
             style="display:inline-block;
                    padding:8px 14px;
                    background-color:#007bff;
                    color:white;
                    border-radius:5px;
                    text-decoration:none;
                    font-weight:500;">
                Cancel
             </a>
        </form>
    </div>
{% endblock %}